[Unit]
Description=Create {{ src }} if needed, by combining all unused disks into a logical volume

[Service]
ExecStart=/usr/local/bin/datapool-create
Type=oneshot

[Install]
WantedBy=multi-user.target datapool.mount
