connectpassword: "{{connectpassword}}"
rconpassword: "{{rconpassword}}"
serverip: {{serverip}}
servername: {{servername}}
bot_difficulty: 0
bot_count: 6
bot_war: false
bot_team: 1 # 1:Allies, 2:Axis
botsperhuman: 2

