[global]
splitconfigfiles = /etc/docker-tcp-switchboard.d/*.conf

{% if dockeroptions is defined %}
[dockeroptions]
{% for key, value in dockeroptions.items() %}
{{key}} = {{value}}
{% endfor %}
{% endif %}
